
<nav class="navbar navbar-expand-lg navbar-inverse" role="navigation">
    <div class="container-fluid">
    
            <a class="navbar-brand" href="#">
               <span class="glyphicon glyphicon glyphicon-leaf">BLOG</span>
                
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/feed">Feed</a></li>
                <li><a href="/my-blogs">My Blogs</a></li>
                <li><a href="/write-blog">Write a Blog</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
    
    </div>
    </nav>
