<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<!-- meta tags -->
<meta charset="UTF-8">
<title>Blog</title>

<!-- css styles cdn -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>
    body {
        margin-top: 30px;
    }
</style>
</head>
<body class="container">
    <header>
        <% include  _navbar%>         
    </header>
</body>