<% include ../partials/header %>

<div class="wrapper fadeInDown">
    <div id="formContent">  
  <form method="post"  class='box'>
  
  <h1>Login</h1>
  
  <input type="text" name="username"id="login" class="fadeIn second" placeholder="Username">
  <input type="password" id="login" class="fadeIn third" name="password" placeholder="password">
  
  <input type="submit" class="fadeIn fourth" value="login">
  <!-- <input type="hidden" name="next" value="" > -->
  </form>
  </div>
   </div>
  <br/>

  <% include ../partials/footer %>
