<% include ../partials/header %>

<div class="wrapper fadeInDown">
    <div id="formContent">  
  <form method="post"  class='box'>

    <h1><span class="glyphicon glyphicon-user"></span>Sign Up</h1>
  <input type="text" name="firstname" id="login" class="fadeIn second" placeholder="First Name">
  <input type="text" name="lastname" id="login" class="fadeIn second" placeholder="Last Name">
  <input type="text" name="username" id="login" class="fadeIn second" placeholder="Username">
  <input type="email" name="emailid" id="login" class="fadeIn second" placeholder="Email">
  <input type="password" id="login" class="fadeIn third" name="password" placeholder="Password">
  <input type="password" id="login" class="fadeIn third" name="confirmpassword" placeholder="Confirm Password">
  <input type="submit" class="fadeIn fourth" value="Sign Up">
  <!-- <input type="hidden" name="next" value="" > -->
  </form>
  </div>
   </div>
  <br/>

  <% include ../partials/footer %>